## Deliverable 3. Create a Travel Itinerary Map.

In [44]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config2 import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [45]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Lompoc,US,69.80,few clouds,34.6391,-120.4579,Holiday Inn Express Lompoc
1,1,Busselton,AU,63.00,clear sky,-33.6500,115.3333,Observatory Guest House
2,5,Port Lincoln,AU,60.78,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
3,6,Los Llanos de Aridane,ES,68.00,few clouds,28.6585,-17.9182,Valle Aridane
4,8,Phan Thiet,VN,70.09,overcast clouds,10.9333,108.1000,Hotel Saigon-PT

In [46]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
locations

        Lat       Lng
0   34.6391 -120.4579
1  -33.6500  115.3333
2  -34.7333  135.8667
3   28.6585  -17.9182
4   10.9333  108.1000
5  -53.1500  -70.9167
6  -42.7826  147.0587
7   -3.8004  102.2655
8  -38.0023  -57.5575
9   19.7297 -155.0900
10   3.0707  172.7902
11  11.6667   92.7500
12 -54.8000  -68.3000
13 -34.4833  -54.3333
14 -23.1203 -134.9692
15 -33.8667  121.9000
16  -2.9248  -39.9167
17  -9.4333  159.9500
18 -23.7000  133.8833
19   9.7500  -63.1767
20 -37.8333  140.7667
21  32.6333  -16.8500
22  24.8000  125.2833
23 -16.4833 -151.7500
24  38.5167  -28.7000
25  22.2855  114.1577
26  20.8947 -156.4700
27 -22.9661  -42.0278
28 -13.7000  -76.2167
29   0.8000  127.4000
30  -2.5744  150.7967

In [47]:
# 4a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# 4b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Busselton"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Busselton"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Esperance"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Alice Springs"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Port Lincoln"]

In [49]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (list(vacation_start.to_numpy())[0][5], list(vacation_start.to_numpy())[0][6])
end = (list(vacation_end.to_numpy())[0][5], list(vacation_end.to_numpy())[0][6])
stop1 = (list(vacation_stop1.to_numpy())[0][5], list(vacation_stop1.to_numpy())[0][6])
stop2 = (list(vacation_stop2.to_numpy())[0][5], list(vacation_stop2.to_numpy())[0][6])
stop3 = (list(vacation_stop3.to_numpy())[0][5], list(vacation_stop3.to_numpy())[0][6])

In [50]:
print(start, end, stop1, stop2, stop3)

(-33.65, 115.3333) (-33.65, 115.3333) (-33.8667, 121.9) (-23.7, 133.8833) (-34.7333, 135.8667)

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure(center= start, zoom_level = 7)
 
travel_map = gmaps.directions_layer(start, end, 
                                  waypoints= [stop1, stop2, stop3],
                                  travel_mode="WALKING") 
fig.add_layer(travel_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3, vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Busselton,AU,63.00,clear sky,-33.6500,115.3333,Observatory Guest House
1,24,Esperance,AU,55.40,clear sky,-33.8667,121.9000,Hospitality Esperance
2,28,Alice Springs,AU,69.80,overcast clouds,-23.7000,133.8833,Desert Palms Alice Springs
3,5,Port Lincoln,AU,60.78,overcast clouds,-34.7333,135.8667,Port Lincoln Hotel
4,1,Busselton,AU,63.00,clear sky,-33.6500,115.3333,Observatory Guest House

In [61]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [62]:
# 11a. Add a marker layer for each city to the map.
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
fig

Figure(layout=FigureLayout(height='420px'))